# --- Odoo & Docker Environment ---

# Ignorar todo el contenido de la carpeta data
data/**/*

# Pero NO ignorar el archivo .gitkeep (para que la carpeta se suba vacía)
!data/.gitkeep

# Ignorar logs del sistema y errores
*.log

# --- Python ---

# No subir archivos compilados de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# --- Configuraciones Sensibles ---

# No subir el archivo de configuración si contiene contraseñas reales
# config/odoo.conf

# --- Otros ---

# Archivos temporales de Windows o editores
.DS_Store
Thumbs.db
.vscode/
.idea/